body{
    background-image:url(../img/4.jpg);/*agrega imagen de fondo*/
    background-repeat: no-repeat;/*no repite el fondo*/
    background-position: center;/*deja el fondo centrado*/
    background-attachment: fixed;
}
.portada{
    color: rgb(247, 248, 247);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px white;
    width: 80%;
    text-align: center;
    float: left;
    background-image:url(../img/4.jpg);/*agrega imagen de fondo*/
    background-repeat: no-repeat;/*no repite el fondo*/
    background-position: center;/*deja el fondo centrado*/
    font-size: 21px;
    
}
strong{
    color: rgb(44, 209,5);
}

img {
    height: 20%;
    width: 20%;
    float: left;
}
.print {
    margin: 24px;
    left: 390px; 
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border: 7px solid black;/*poner borde y color a elemento */
    padding: 40px 40px 25px;/*establece el area de relleno*/
    padding: 40px 40px 20px;
    position: absolute;
    width: 450px;
    top:200px;/*distancia de el tope superior de la pantalla*/
    left: 27%; 
    border-radius: 80px 80px 80px 80px;/*poner borde redondeado a elemento*/
    box-shadow: 10px 13px 37px 11px rgba(0, 0, 0, 0.822);/*pone sombreado*/
    background-image:url(../img/8.jpg);/*agrega imagen de fondo*/
    background-repeat: no-repeat;/*no repite el fondo*/
    background-position: center;/*deja el fondo centrado*/
    background-attachment: fixed;
}
input[type="button"] {
    margin-bottom: 0;
    background: #163ab1;
    color: #fff;
    border: 2px;
    width: 360px;
    padding: 10px 40px 10px;
    border-radius: 100px 40px 100px 40px;
    box-shadow:none;   
    text-align: center;  
    display: block;
    font-size: 15px;
}
input[type="button"]:hover{
    background: #68c1eb; 
    cursor: pointer;
}
a{
    margin-bottom: 0;
    background: rgb(221, 146, 8);
    color: black;
    border: 2px ;
    border-radius: 120px 0px 119px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow:none;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px 10px;
    display: block;
    font-size: 15px;
    box-shadow:none;   
}
a:hover{
    background:rgb(219, 184, 30); 
    cursor: pointer;
}




